.ticker-percent {
  display: flex;
  align-items: start;
  justify-content: center;

}

.percent-value {
  font-size: 1.3rem;
}

.percent-range {
  display: flex;
  margin-left: .3rem;
  font-size: 1.3rem;
}
